//estilos footer

.rodape{
    border: 1px solid #000;
    background-color: chocolate;
    height: 40px;
    margin-top: 40px;
}

.rodape-text{
    font-size: 15pt;
    color:white;
    font-weight: bold;

    text-align: center;
   
    margin-top: 10px;

}