//estilos logo
.container-logo{
    border:1px solid #000;
    background-color: chocolate;
}

.container-title{
    color:#fff;
    margin-left: 20px;
 
}

.container-logo .icon{
    margin-bottom: -3px;
}
