//estilos navegacao
.link{
    font-size: 15pt;
    color:#fff;
    
    text-decoration: none;
    
    padding-left:20px;
    position: relative;
    left: 525px;
    top: -30px;
}

.link:focus{
    color:black;
}